.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-logo {
  width: 50px; /* Ajusta el tamaño del logo según sea necesario */
}

.main-nav {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: center;
}

.nav-link {
  color: #242628;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0056b3;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 30px; /* Espacio para el icono */
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #ccc;
}